
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular', Helvetica, Arial, sans-serif;
}

html {
    font-size: calc(1em + 1vw);
}

#mastergrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8% 89% 3%;
    grid-template-areas: "header" "main" "footer";
 
}

main {
    grid-area: main;
    width: 100%;
    height: 89vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

nav {
    grid-area: header;
    height: 8vh;
    background-color:#333;


}
 
    li{
        display: flex;
    }

    #link-menu{
        position: fixed;
        right:2rem;
        display: flex;
        justify-content: space-evenly;
    }
    .link-section{
        display: flex;
        margin-left: 0.8rem;

    }

    .link{
        width:10%;
        font-size: 0.4rem;
        display: flex;
        margin-top: 0.5rem;
        color: white;  
        font-weight: 900;  
        letter-spacing: 0.02rem;
        text-decoration:none;
        padding-bottom: 0.1rem;    
    }
    .link:hover{
       color: #b8e26e;
    }

    #profile-text{ 
        margin-left: 0.2rem;
        
    }
    
    /*Icons rendes as i tag*/
    i {
        font-size: 0.5rem;
        vertical-align: middle;
        margin-bottom: 0.0rem;
        margin-left: 0.0rem;
        font-weight: 100;
        text-align: center;
        padding: 0.1rem;
         
    }

footer{
    grid-area: footer;
    height: 3vh;
    font-family: "Circular", Helvetica, Arial;
    text-align: center;
    font-size: 0.4rem;
    margin-top: 0rem;
    font-weight: 500;
    letter-spacing: 0.0rem;
    margin-bottom: 0rem;
    color: #333;  
}

h1{   
    font-family: "Circular", Helvetica, Arial !important;
    font-size: 1.1rem;
    font-weight: 900;
    letter-spacing: 0.0rem;
    color: #acd367;
    margin-top: 0.9rem;
    margin-bottom: 0.4rem;
}

#h1-span{
    font-weight: 800;
    font-size: 0.8rem;
    letter-spacing: 0.0rem;
    color: #333;
}
h2{
    font-size: 0.5rem;
    margin-top: 0.4rem;
    margin-bottom: 0.2rem;
    letter-spacing: 0.01rem;
    color: #333;

}
h3{
    font-size: 0.7rem;
    margin-top: 0.2rem;
}


#logo-start-page{
    margin-top: 0.9rem;
    width:6rem;
    height:auto;

}


#start-page-section{
    width:42%;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}
input{
    width: 100%;
    height: 1.3rem;
    border-radius: 20px;
    border: 1px solid #333;
    color: #333;
    font-weight: 600;
    padding:0.2rem;
    margin-bottom: 0.0rem;
    font-size: 0.6rem;
    outline: none;
    text-indent: 0.6rem;
}

    input[type=text]:focus {
        outline: none;
        border: 1px solid #9bbe5e;
        color: #333;
        font-weight: 600;
        font-size: 0.6rem;
    }

.link-button{
    width:28%;   
}
 
#btn-start{
    width:100%;
    height: 1.3rem; 
    border-radius: 6rem;    
    border: none;        
    padding: 0;
    margin-top: 0.0rem;
    margin-left: 0.02rem;
    margin-right: 0.2rem;
    font-family: "Circular", Helvetica, Arial;
    font-weight: 600;
    color: white;
    background-color:#9bbe5e;
    vertical-align: middle;
}
    #btn-start:hover{
        background-color: gray;
        color: white;
        cursor:pointer;
        outline: none;
    }


#translate-section{
    width: 100%;
    height: 70vh;
  
}
#display-signs-section{
    width:100%;
    height: 64vh;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10rem;
    padding-right: 10rem;
    overflow: scroll;
}
#translate-text-input{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    
}

.tranlate-sign-image{
    width: 20%;
}

#btn-translate, #btn-logout{
    width:10%;
    height: 1.35rem; 
    border-radius: 6rem;    
    border: none;        
    padding: 0;
    margin-top: 0.0rem;
    margin-left: 0.02rem;
    margin-right: 0.2rem;
    font-family: "Circular", Helvetica, Arial;
    font-weight: 600;
    color: white;
    background-color:#9bbe5e;
    outline: none;
    vertical-align: middle;
}
    #btn-translate:hover, #btn-logout:hover{
        background-color: gray;
        color: white;
        cursor:pointer;
        outline: none;
    }

#history-h1{
    margin-bottom: 0.0rem;

}
#history-h2{
    font-size: 0.8rem;
    margin-top: 0.0rem;
    margin-bottom: 0.4rem;
}
#history-h3{
    font-size: 0.6rem;
    margin-top: 1rem;
}
#history-list{
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}
.history-list-element{
    display: block;
    font-size: 0.7rem;
    margin-top: 0.2rem;
    font-weight: 600;
    color: #9bbe5e;
    margin-left: auto;
    margin-right: auto;
   
}




